body {
  header {
    .header_container {
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      background-color: var($main-background-color);
      @extend %flex;
      .header_content {
        background-color: black;
        @extend %containerWidth;

        ul {
          display: flex;
          li {
            margin-left: 50px;
            a {
              color: #ffffff;
            }
          }
        }
      }
    }
    .underline {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
