body {
  header {
    width: 100%;
    .header_left {
      @include responsive(tablet) {
        display: flex;
        align-items: center;
      }
      @include responsive(phone) {
        width: 70%;
        justify-content: space-between;
      }
      // @include responsive(s-phone) {
      //   width: 80%;
      //   display: none;
      // }
    }
    background-color: $header-background;
    .header_container {
      max-width: 1100px;
      width: 80%;
      height: 100px;
      margin: 0 auto;
      @extend %flex;
      .menu-btn.open {
        .menu-btn__burger {
          transform: rotate(90deg);
          background-color: transparent;
          transition: all 0.5s ease-in-out;
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
      .menu-btn {
        display: none;
        position: relative;

        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        @include responsive(tablet) {
          display: flex;
        }

        .menu-btn__burger {
          width: 50px;
          height: 3px;
          background-color: $main-background-color;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          &::before,
          &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $main-background-color;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
          }
          &::before {
            transform: translateY(-16px);
          }
          &::after {
            transform: translateY(16px);
          }
        }
      }
      .header_content {
        @extend %containerWidth;

        ul {
          display: flex;
          @include responsive(tablet) {
            display: none;
          }
          li {
            cursor: pointer;
            margin-left: 50px;
            a {
              &:hover {
                color: $button-background;
              }
              color: $main-background-color;
            }
          }
        }
        .cart {
          a {
            svg {
              path {
                &:hover {
                  fill: $button-background;
                }
              }
            }
          }
        }
      }
    }
    .underline {
      width: 100%;
      margin: 0 auto;
      background-color: $underline-color;
      height: 1px;
    }
    .popup {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      width: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 10px;
      z-index: 2;
      transition: opacity 0.5s, visibility 0s 0.5s;
    }

    .popup.show {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s;
    }
  }
}
