body {
  header {
    background-color: $header-background;
    .header_container {
      max-width: 1100px;
      height: 100px;
      margin: 0 auto;
      @extend %flex;
      .header_content {
        @extend %containerWidth;

        ul {
          display: flex;
          li {
            margin-left: 50px;
            a {
              color: $main-background-color;
            }
          }
        }
      }
    }
    .underline {
      width: 100%;
      margin: 0 auto;
      background-color: $underline-color;
      height: 1px;
    }
  }
}
