body {
  main {
    @include flexDefoult(center, center, column);
    width: 100%;
    .section_one {
      @extend %flex;

      width: 100%;
      height: 630px;
      background-color: $frst-section-background;

      .headphone_section {
        max-width: 1100px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive(tablet) {
          position: relative;

          @include flexDefoult(center, center, column);
        }

        .description {
          z-index: 1;
          width: 50%;

          color: $main-background-color;
          @include responsive(tablet) {
            text-align: center;
            width: 80%;
          }
          h5 {
            font-size: 14px;
            margin-bottom: 24px;
            @include responsive(tablet) {
              font-size: 14px;
            }
          }
          h2 {
            font-size: 56px;
            font-weight: bold;
            margin-bottom: 24px;
            @include responsive(tablet) {
              font-size: 56px;
            }
            @include responsive(phone) {
              font-size: 36px;
            }
          }
          p {
            font-size: 15px;
            margin-bottom: 40px;
          }
          .headphone_btn {
            width: 160px;
            height: 48px;
            color: $main-background-color;
            background-color: $button-background;
            cursor: pointer;
            &:hover {
              background-color: $button-background-hover;
            }
          }
        }
        .headphone_img {
          width: 50%;
          img {
            width: 100%;
            height: 100%;
            @include responsive(tablet) {
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 0;
              width: 100%;
            }
          }
        }
      }
    }
    .section_two {
      width: 100%;
      @include flexDefoult(center, center, row);
      height: 525px;
      max-height: 1050px;
      @include responsive(phone) {
        height: 1050px;
      }
      .random_products {
        width: 80%;
        height: 50%;
        @include flexDefoult(space-between, center, row);
        @include responsive(phone) {
          @include flexDefoult(space-between, center, column);
          width: 100%;
          height: 70%;
          .headphones {
            height: 165px;
          }
          .speakers {
            height: 165px;
          }
          .earphones {
            height: 165px;
          }
        }

        div {
          background-color: $second-section-background;
          width: 30%;
          height: 70%;
          position: relative;
          @include responsive(tablet) {
            width: 30%;
            height: 50%;
          }
          @include responsive(phone) {
            width: 80%;
            height: 30%;
          }
          .img_div {
            img {
              position: absolute;
              bottom: 0%;
              @include responsive(tablet) {
                width: 105px;
                height: 105px;
              }
              @include responsive(phone) {
                bottom: 0%;
              }
            }
          }
          @include flexDefoult(center, center, column);
          .products_name {
            height: 100%;
          }
          h5 {
            @include responsive(tablet) {
              font-size: 15px;
            }
          }
          .shop {
            width: 100%;
            height: 35px;
            @include flexDefoult(center, center, row);
            div {
              width: 10%;
            }
          }
          .shop_btn {
            margin-right: 14px;
            border: none;
            @include responsive(tablet) {
              font-size: 13px;

              // margin: 17px 14px 0px 0px;
            }
          }
        }
      }
    }
    .section_three {
      width: 100%;
      @include flexDefoult(center, center, row);
      .comercial {
        width: 80%;
        @include flexDefoult(center, center, row);
        @include responsive(tablet) {
          @include flexDefoult(center, center, column-reverse);
        }
        .comercial_text {
          width: 50%;
          @include flexDefoult(center, center, row);
          .text_container {
            width: 60%;
            height: 50%;
            h3 {
              font-size: 40px;
              margin-bottom: 32px;
              span {
                color: $button-background;
              }
            }
            @include responsive(tablet) {
              width: 100%;
              text-align: center;
            }
          }
        }
        .comercial_img {
          width: 50%;
          height: 100%;

          @include responsive(tablet) {
            width: 100%;
            @include flexDefoult(center, center, row);
            margin-bottom: 65px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
