/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSansGeorgian-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body main .section_one, body header .header_container {
  display: flex;
  justify-content: center;
}

body header .header_container .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
}

body header {
  width: 100%;
  background-color: #000000;
}
@media only screen and (max-width: 770px) {
  body header .header_left {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 426px) {
  body header .header_left {
    width: 70%;
    justify-content: space-between;
  }
}
body header .header_container {
  max-width: 1100px;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
body header .header_container .menu-btn.open .menu-btn__burger {
  transform: rotate(90deg);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
body header .header_container .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
body header .header_container .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}
body header .header_container .menu-btn {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 770px) {
  body header .header_container .menu-btn {
    display: flex;
  }
}
body header .header_container .menu-btn .menu-btn__burger {
  width: 50px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header .header_container .menu-btn .menu-btn__burger::before, body header .header_container .menu-btn .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header .header_container .menu-btn .menu-btn__burger::before {
  transform: translateY(-16px);
}
body header .header_container .menu-btn .menu-btn__burger::after {
  transform: translateY(16px);
}
body header .header_container .header_content ul {
  display: flex;
}
@media only screen and (max-width: 770px) {
  body header .header_container .header_content ul {
    display: none;
  }
}
body header .header_container .header_content ul li {
  margin-left: 50px;
}
body header .header_container .header_content ul li a {
  color: #ffffff;
}
body header .header_container .header_content .cart a svg path:hover {
  fill: #d87d4a;
  transition: 250ms;
}
body header .underline {
  width: 100%;
  margin: 0 auto;
  background-color: #979797;
  height: 1px;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body main .section_one {
  width: 100%;
  height: 630px;
  background-color: #101010;
}
body main .section_one .headphone_section {
  max-width: 1100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 770px) {
  body main .section_one .headphone_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
body main .section_one .headphone_section .description {
  z-index: 1;
  width: 50%;
  color: #ffffff;
}
@media only screen and (max-width: 770px) {
  body main .section_one .headphone_section .description {
    text-align: center;
    width: 80%;
  }
}
body main .section_one .headphone_section .description h5 {
  font-size: 14px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 770px) {
  body main .section_one .headphone_section .description h5 {
    font-size: 14px;
  }
}
body main .section_one .headphone_section .description h2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
}
@media only screen and (max-width: 770px) {
  body main .section_one .headphone_section .description h2 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 426px) {
  body main .section_one .headphone_section .description h2 {
    font-size: 36px;
  }
}
body main .section_one .headphone_section .description p {
  font-size: 15px;
  margin-bottom: 40px;
}
body main .section_one .headphone_section .description .headphone_btn {
  width: 160px;
  height: 48px;
  color: #ffffff;
  background-color: #d87d4a;
  cursor: pointer;
}
body main .section_one .headphone_section .description .headphone_btn:hover {
  background-color: #fbaf85;
}
body main .section_one .headphone_section .headphone_img {
  width: 50%;
}
body main .section_one .headphone_section .headphone_img img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 770px) {
  body main .section_one .headphone_section .headphone_img img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
  }
}
body main .section_two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 525px;
  max-height: 1050px;
}
@media only screen and (max-width: 426px) {
  body main .section_two {
    height: 1050px;
  }
}
body main .section_two .random_products {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 426px) {
  body main .section_two .random_products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
  }
  body main .section_two .random_products .headphones {
    height: 165px;
  }
  body main .section_two .random_products .speakers {
    height: 165px;
  }
  body main .section_two .random_products .earphones {
    height: 165px;
  }
}
body main .section_two .random_products div {
  background-color: rgb(241, 241, 241);
  width: 30%;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 770px) {
  body main .section_two .random_products div {
    width: 30%;
    height: 50%;
  }
}
@media only screen and (max-width: 426px) {
  body main .section_two .random_products div {
    width: 80%;
    height: 30%;
  }
}
body main .section_two .random_products div .img_div img {
  position: absolute;
  bottom: 0%;
}
@media only screen and (max-width: 770px) {
  body main .section_two .random_products div .img_div img {
    width: 105px;
    height: 105px;
  }
}
@media only screen and (max-width: 426px) {
  body main .section_two .random_products div .img_div img {
    bottom: 0%;
  }
}
body main .section_two .random_products div .products_name {
  height: 100%;
}
@media only screen and (max-width: 770px) {
  body main .section_two .random_products div h5 {
    font-size: 15px;
  }
}
body main .section_two .random_products div .shop {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main .section_two .random_products div .shop div {
  width: 10%;
}
body main .section_two .random_products div .shop_btn {
  margin-right: 14px;
  border: none;
}
@media only screen and (max-width: 770px) {
  body main .section_two .random_products div .shop_btn {
    font-size: 13px;
  }
}
body main .section_three {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main .section_three .comercial {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 770px) {
  body main .section_three .comercial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
body main .section_three .comercial .comercial_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main .section_three .comercial .comercial_text .text_container {
  width: 60%;
  height: 50%;
}
body main .section_three .comercial .comercial_text .text_container h3 {
  font-size: 40px;
  margin-bottom: 32px;
}
body main .section_three .comercial .comercial_text .text_container h3 span {
  color: #d87d4a;
}
@media only screen and (max-width: 770px) {
  body main .section_three .comercial .comercial_text .text_container {
    width: 100%;
    text-align: center;
  }
}
body main .section_three .comercial .comercial_img {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 770px) {
  body main .section_three .comercial .comercial_img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 65px;
  }
}
body main .section_three .comercial .comercial_img img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 365px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer_container {
  width: 80%;
  height: 100%;
}
footer .footer_container .orange_line {
  width: 100px;
  height: 4px;
  background-color: #d87d4a;
  margin-bottom: 70px;
}
footer .footer_container .footer_down {
  display: flex;
  height: 70%;
}
footer .footer_container .footer_down .footer_left {
  width: 50%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer_container .footer_down .footer_right {
  width: 50%;
}/*# sourceMappingURL=global.css.map */